name: Build containers

on:
  schedule:
    - cron:  '10 4 * * *'
  workflow_dispatch:
    inputs:
      force_rebuild:
        required: true
        default: 'false'

jobs:
  build:
    # Prevent from building in cloned repos
    if: github.repository_owner == 'tom-tan'
    strategy:
      matrix:
        dc: [dmd, ldc, gdc]
        include:
          - dc: dmd
            arch: linux/amd64
          - dc: ldc
            arch: linux/amd64,linux/arm64
          - dc: gdc
            arch: linux/amd64
      fail-fast: false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/dc-versions
          key: ${{ matrix.dc }}
      - id: get_release
        run: |
          if [ "${dc}" = dmd ]; then
            link=http://downloads.dlang.org/releases/LATEST
          elif [ "${dc}" = ldc ]; then
            link=https://ldc-developers.github.io/LATEST
          elif [ "${dc}" = gdc ]; then
            link=https://gdcproject.org/downloads/LATEST
          else
            link=""
          fi

          if [ -n "$link" ]; then
            latest=$(curl --connect-timeout 10 -fsSL $link)
          else
            latest=""
          fi

          if [ -e $GITHUB_WORKSPACE/dc-versions/$dc ]; then
            cur="$(cat $GITHUB_WORKSPACE/dc-versions/$dc)"
          else
            cur=""
          fi
 
          if [ -z "$latest" -o "$latest" = "$cur" ]; then
            need_update=false
            latest=""
          else
            need_update=true
          fi
          echo "::set-output name=need_update::$need_update"
          echo "::set-output name=latest::$latest"

          echo "need_update? '$need_update', current: '$cur', latest, '$latest'"
        env:
          dc: ${{ matrix.dc }}
      - name: Set up QEMU
        if: steps.get_release.outputs.need_update == 'true' || github.event.inputs.force_rebuild == 'true'
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        if: steps.get_release.outputs.need_update == 'true' || github.event.inputs.force_rebuild == 'true'
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        if: steps.get_release.outputs.need_update == 'true' || github.event.inputs.force_rebuild == 'true'
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        if: steps.get_release.outputs.need_update == 'true' || github.event.inputs.force_rebuild == 'true'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: .devcontainer/Dockerfile
          platforms: ${{ matrix.arch }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ matrix.dc }}:${{ steps.get_release.outputs.latest }}
            ghcr.io/${{ github.repository_owner }}/${{ matrix.dc }}:latest
          build-args: |
            VARIANT=ubuntu-20.04
            DC_NAME=${{ matrix.dc }}
            DC_VERSION=${{ steps.get_release.outputs.latest }}
      - name: Cache latest version info
        if: steps.get_release.outputs.need_update == 'true' || github.event.inputs.force_rebuild == 'true'
        run: |
          mkdir -p $GITHUB_WORKSPACE/dc-versions
          echo $latest > $GITHUB_WORKSPACE/dc-versions/$dc
        env:
          dc: ${{ matrix.dc }}
          latest: ${{ steps.get_release.outputs.latest }}
